# Arquivos de build
bin/
obj/

# Configuração do ambiente de desenvolvimento
appsettings.Development.json
.env

# Dados do usuário, logs e backups
*.log
*.bak

# Configurações do Visual Studio
.vs/
*.suo
*.user
*.rsuser
*.cache
*.config
*.ncrunchproject

# Dependências geradas pelo NuGet
*.nupkg
packages/
project.lock.json
.nuget/

# Diretórios do sistema operacional
Thumbs.db
Desktop.ini

# Arquivos temporários
tmp/
temp/

# Build do dotnet
*.dll
*.pdb
*.exe
*.db
*.pid
*.csv
